body {
  font-family: "Jomolhari", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-blue-solid-color-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

'''https://i0.wp.com/wallpapercave.com/wp/wp6517777.jpg'''

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
}

.container {
  z-index: 1; /* Certifica-se de que o conteúdo esteja acima do overlay */
  width: 105%;
  text-align: center; /* Para alinhar o texto à esquerda */
  color: black; /* Mudança de cor do texto */
  background-color: aliceblue; /* Cor de fundo preta */
  border-radius: 0px; /* Suavização dos cantos */
  justify-content: center;
}


.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #007bff;

}

.botoes-iniciais {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Cor dos botões */
  color: #fff; /* Cor do texto nos botões */
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.botoes-iniciais:hover {
  background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}


.jomolhari-regular {
  font-family: "Jomolhari", serif; /* Adicionando uma classe para referenciar a fonte especificamente */
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3em; /* Tamanho grande para o título */
  margin-bottom: 20px; /* Margem inferior para o título */
}

h3 {
  font-size: 1.5em;
  margin-bottom: 50px; /* Margem inferior para o subtítulo */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaço entre os botões */
}
